.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-upload button {
  background-color: #bbb3c7;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.hello-message {
  padding-top: 50px;
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
}

.cropped-image {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 8px;
}